ADF Code/ADF code.txt
{
    "name": "pl_analytics_platform",
    "properties": {
        "activities": [
            {
                "name": "Config_Lookup",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_AzureSynapseAnalytics",
                        "type": "DatasetReference",
                        "parameters": {
                            "Schema_name": {
                                "value": "@pipeline().parameters.config_schema_name",
                                "type": "Expression"
                            },
                            "Table_name": {
                                "value": "@pipeline().parameters.config_table_name",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Config_Lookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Config_Lookup').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Check_load_type",
                            "type": "IfCondition",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(item().load_type,'incremental')",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Copy full data load",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "AzureSqlSource",
                                                "sqlReaderQuery": {
                                                    "value": "@item().source_query",
                                                    "type": "Expression"
                                                },
                                                "queryTimeout": "02:00:00",
                                                "partitionOption": "None"
                                            },
                                            "sink": {
                                                "type": "ParquetSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings",
                                                    "copyBehavior": "PreserveHierarchy"
                                                },
                                                "formatSettings": {
                                                    "type": "ParquetWriteSettings"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "ds_AzureSqlTable",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "Schema_name": "dbo",
                                                    "Table_name": "plans"
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "ds_Parquet",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "Container_name": "landing",
                                                    "file_name": "@concat(item().source_name,'.parquet')",
                                                    "folder_name": {
                                                        "value": "@item().source_name",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy Incremental data",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "AzureSqlSource",
                                                "sqlReaderQuery": {
                                                    "value": "@concat('select * from dbo.',item().source_name,' where last_updated > ''',pipeline().parameters.incremental_date,'''')",
                                                    "type": "Expression"
                                                },
                                                "queryTimeout": "02:00:00",
                                                "partitionOption": "None"
                                            },
                                            "sink": {
                                                "type": "ParquetSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings",
                                                    "copyBehavior": "PreserveHierarchy"
                                                },
                                                "formatSettings": {
                                                    "type": "ParquetWriteSettings"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "ds_AzureSqlTable",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "Schema_name": "dbo",
                                                    "Table_name": "plans"
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "ds_Parquet",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "Container_name": "landing",
                                                    "file_name": {
                                                        "value": "@concat(item().source_name,'.parquet')",
                                                        "type": "Expression"
                                                    },
                                                    "folder_name": {
                                                        "value": "@item().source_name",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "config_schema_name": {
                "type": "string",
                "defaultValue": "ext"
            },
            "config_table_name": {
                "type": "string",
                "defaultValue": "copy_config"
            },
            "incremental_date": {
                "type": "string",
                "defaultValue": "1900-01-01"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-08-24T13:37:56Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}